# Core
numpy
pandas
scipy
matplotlib
skyfield

# Machine Learning
torch
torchvision
torchaudio
scikit-learn

# Graph Neural Networks
torch-geometric

# Utilities
networkx
tqdm
matplotlib
seaborn

# Config / experiments
pyyaml
